* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Monterrat', sans-serif;
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
}

.container {
  margin: 30px auto 0 auto;
  padding: 0 30px;

  /* to center card */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  overflow: hidden;
}

.product-img img {
  max-width: 100%;
  display: inherit;
}

.product-info {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-category {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

.product-title {
  font-family: 'Fraunces', serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: hsl(212, 21%, 14%);
  margin-top: -10px;
}

.product-description {
  color: hsl(228, 12%, 48%);
  line-height: 1.6em;
  font-size: 1.05rem;
}

#price-group {
  display: flex;
  align-items: center;
}

.product-sale-price {
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 35px;
  font-weight: 700;
  padding-right: 30px;
}

.product-original-price {
  color: hsl(228, 12%, 48%);
  font-size: 1rem;
  text-decoration: line-through;
}

.button {
  background-color: hsl(158, 36%, 37%);
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 17px 0;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: hsl(158, 36%, 20%);
}

.button img {
  padding-right: 10px;
}

.attribution {
  text-align: center;
  padding-bottom: 20px;
}

@media only screen and (max-width: 628px) {
  .product {
    grid-template-columns: 1fr;
  }

  .product-img img {
    max-height: 450px;
    width: 100%;
    object-fit: cover;
  }

  .product-info {
    display: block;
  }

  .product-category,
  .product-title,
  .product-description,
  .product-original-price,
  .product-sale-price {
    padding-bottom: 23px;
  }
}

@media only screen and (max-width: 375px) {
  .product {
    margin: 15px 0;
    padding: 0 15px;
  }

  .product-img img {
    max-height: 290px;
  }

  .product-info {
    padding: 24px;
  }

  .product-category,
  .product-title,
  .product-description,
  .product-original-price,
  .product-sale-price {
    padding-bottom: 15px;
  }
}
